*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
   background-color: red;
}
.box{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.main-content{
    min-height: 100vh;
    width: 80%;
    margin: 4rem auto;
    background-color: red;

}